@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

html,
body,
#root {
    height: 100%;
}

.sidebar {
    min-height: 100vh;
    background: #343a40;
}

.sidebar .nav-link {
    color: #ced4da;
}

.sidebar .nav-link.active,
.sidebar .nav-link:hover {
    color: #fff;
    background: #495057;
}

.content-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}